.container{
    width: 100%;
    background-color: #0F1921;
    color: white;
    margin-top: -7px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px 0px 50px 0px;
    grid-gap: 20px;

}

.container h2{
    font-size: 40px;

}

.container p{

    line-height: 2;
    width: 80%;
}




@media (min-width: 900px) {
    .container h2{
        font-size: 50px;
    
    }
    
    .container p{
        font-size: 25px;
    
       
    }

    .container{
        padding: 70px 0px 70px 0px;

    }
    
   
 
    
  }