.close{
    
    display: none;
    background-color: rgba(0, 0, 0, 0);
 
   
}

.open{
    display: flex;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.584);
    justify-content: center;
    align-items: center;
    z-index: 4;
   
   
}




.ModalO{

    width: 80%;
    height: 80%;
    display: flex;
    flex-direction: column;
    background-color: #0F1921;
    border-radius: 20px;
    transition: all 2s;
    color: white;
    position: fixed;
    z-index: 5;
    top: 10%;
    left: 10%;
    border: 1px solid white;



}

.ModalC{
    display: none;
}



.img{
    width: 100%;
    height: 50%;
 
}

.imgDrink{
    width: 100%;
    height: 100%;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}

.icon{
    position: absolute;
    width: 20px;
    right: 10px;
    top: 10px;


}

.info{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-top: 10px;
    justify-content: center;
    align-items: center;
    grid-gap: 15px;
    height: 45%;
    overflow: hidden;
  
}

.info p{
    font-size: 18px;
    font-weight: 900;
    text-align: center;
    width: 90%;
    overflow: hidden;
   


   
    

}

.info p span{
    font-weight: 100;
    padding-left: 5px;

}