.container{
    width: 100%;
    display: flex;
    flex-direction: column;
    grid-gap: 20px;
   padding: 20px 0px 10px 20px;
   color: white;
}

.tasks{
    display: flex;
    flex-direction: column;
    width: 100%;
    grid-gap: 20px;
    
   
}