
.container{
    width: 100%;
    font-family: 'Rajdhani', sans-serif;

}
   


.info{
    padding-top: 150px;
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    color: white;
    grid-gap: 15px;

    
}

.info p{
    line-height: 20px;
    font-size: 30px;
    
}

.writer{
    display: flex;
    flex-direction: row;
    gap: 5px;
    font-family: 'Roboto';
    font-weight: 900;
    color: transparent;
    font-size: 30px;
    white-space: nowrap;
    text-transform: uppercase;
    -webkit-text-stroke: 1px rgb(255, 255, 255) ;
    
}

.info button{
    margin-top: 20px;
    width: 150px;
    height: 50px;
    background-color: #009E66;
    color: white;
    font-size: 18px;
    border: none;
    cursor: pointer;
    font-family: 'Rajdhani', sans-serif;
}

.info button:hover{
    background-color: #006642;

}

.contact{
    height: 300px;
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    grid-gap: 30px;
    padding-left: 20px;

 
}

.contact h4{
    font-size: 23px;
    color: white;
}


.contact p{
    color: #c7c7c7;

}

.dates{
    display: flex;
    flex-direction: column;
    grid-gap: 20px;
    border-left: 2px solid white;
    padding-left: 20px;
    
}

.dates2{
    display: flex;
    flex-direction: column;
    grid-gap: 20px;
    border-left: 2px solid white;
    padding-left: 20px;
}

.img{
    position: absolute;
    right: 0;
    top: -35px;
}





